

<h1 class="pick-up-page-title">Pick-ups</h1>

<div class="headings-pick-up">
  <tr>
    <td><h3 class="administration-pick-up">Administration Pick-up</h3></td>
  </tr>
  <tr>
    <td><h3 class="mark-as-complete">Mark as complete</h3></td>
  </tr>
</div>


  <div class="pick-ups-page-container">
    <% @pick_ups.each do |pick_up| %>
      <p class="row-pick ups">
        <p class="restaurant-name-pick-ups"><%= pick_up.restaurant.cname %></p>
        <p class="created-at-time"><%= pick_up.created_at.strftime("%I:%M%p") %> <%= pick_up.created_at.strftime("%B %d, %Y") %></p>
        
        <p class="delete-pick-up"><%= link_to 'Mark as Completed', pick_up, method: :delete, data: { confirm: 'Comfirm Pick-up' } %></p>

        <p class="pick-up-address">Pick-up address: <%=pick_up.restaurant.address %></p>
      </p>
    <% end %>
  </div>
