<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<section id="usereditform">
  <div id="formcol1"><div class="field">
    <%= form.label :fname, "First Name" %>
    <%= form.text_field :fname, id: :user_fname, class: "text_field" %>
  </div>

  <div class="field">
    <%= form.label :lname, "Last Name" %>
    <%= form.text_field :lname, id: :user_lname, class: "text_field" %>
  </div>
</div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo, id: :user_photo %>
  </div>


  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :user_status, class: "text_field" %>
  </div>


  <div class="actions">
    <center><%= form.submit "Submit", class: 'submit_button' %></center>

  </div>
<% end %>
</section>
