<section id="usereditformcontain">

<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<section id="usereditform">
  <div class="field">
    <p>First Name:</p> </br>
    <%= form.text_field :fname, id: :user_fname, class: "text_field", placeholder: "First Name" %>
  </div>

  <div class="field">
    <p>Last Name: </p> </br>
    <%= form.text_field :lname, id: :user_lname, class: "text_field", placeholder: "Last Name" %>
  </div>
</div>

  <center><div class="field">
    <p>Profile Picture:</p><br/>
    <%= form.label :photo %><br/>
    <%=form.file_field :photo, id: :user_photo %>
  </div></center>


  <div class="actions">
    <center><%= form.submit "Submit", class: 'submit_button' %></center>
  </div>
  <br><br>
  <center><%= link_to 'Back to my Profile', @user, class: 'profbutton' %></center>
<% end %>
</section>
