<div class="allPagesHeader"><div class="plentyHeader"><i class="fa fa-globe" aria-hidden="true"></i>PLENTY</div>
    <span class="allPagesHeaderText"><em>save food, save money and save the planet.</em></span>
  </div>

<style>
@import url('https://fonts.googleapis.com/css?family=Sarala');
</style>
<style>
@import url('https://fonts.googleapis.com/css?family=Roboto|Sarala');
</style>
<style>
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
</style>



<center class="userProfileName"><h2 class="whatever"><%= @user.fname %>'s Profile</h2></center>

<div id="UserInfo">
<center><p><%= image_tag(@user.image.url) if @user.image? %></p>
  
</center>
  <p>
  <strong>First Name:</strong>
  <%= @user.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.lname %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<div id="editlinkcontainer">
<div id="editprofilelink">
<center><%= link_to 'Edit Profile', edit_user_path(@user) %></center>
<div id="editsettingslink">
<center><%= link_to 'Settings', edit_user_registration_path(@user) %></center>
</div>
</div>
</div>
</div>

<% if @user.status == "customer" %>
<div id="UserFavs">
<p>
  <h3><center>Favorite Restaurants</center></h3>
  <% @user.favorite_restaurants.each do |fr| %>
  	<p class="pclass"><%= fr.restaurant.cname %></p>
  <% end %>
</p>
</div>
<% end %>
<br>

<div class="socialmedia">
<%= link_to(image_tag("socialmedia/fb.svg"), root_path, class: "styleimg") %>
<%= link_to(image_tag("socialmedia/twitter.svg"), root_path, class: "styleimg") %>
<%= link_to(image_tag("socialmedia/insta.svg"), root_path, class: "styleimg") %>
</div>