<%= form_with(model: restaurant, local: true) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cname %>
    <%= form.text_field :cname, id: :restaurant_cname %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :restaurant_address %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, id: :restaurant_number %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo, id: :restaurant_photo %>
  </div>

  <div class="field">
    <%= form.label :menu %>
    <%= form.text_field :menu, id: :restaurant_menu %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.number_field :longitude, id: :restaurant_longitude %>
  </div>

  <div class="field">
    <%= form.label :langitude %>
    <%= form.number_field :langitude, id: :restaurant_langitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
