<div class="allPagesHeader"><div class="plentyHeader"><i class="fa fa-globe" aria-hidden="true"></i>PLENTY</div>
    <span class="allPagesHeaderText"><em>save food, save money and save the planet.</em></span>
  </div>

<div class="restaurantHome">

<h1>
  <%= @restaurant.cname %>
</h1>

<p class="restaurantInfo">
  <span class="fa fa-map-marker" aria-hidden="true"></span> <%= @restaurant.address %>
</p>

<p class="restaurantInfo">
  <span class="fa fa-phone" aria-hidden="true"></span> <%= @restaurant.number %>
</p>

<p class="restaurantInfo">
  <%= link_to like_restaurant_path(@restaurant), class:"fav-btn", method: :put, remote: :true do %>
  <i class='fa fa-star'></i><% end %>
  <em><span class="favStatus"></span></em>
</p>

<p><%= image_tag(@restaurant.image) if @restaurant.image? %></p>

</div><!--  end of restaurantHome -->

<div class="restaurantHomeMenu">
<h2><%= @restaurant.cname %> Menu</h2>
<div class="restaurantShowNav"><% if current_restaurant %>
  <% if current_restaurant.id == @restaurant.id %>
    <p><%= link_to 'Add Menu Item(s)', edit_menu_item_path(@restaurant.menu_items.ids) %></p>
    <p><%= link_to 'Delete My Account', @restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>
<% end %>

<button class="apps">Appetizers</button>
<button class="maindishes">Main Dishes</button>
<button class="drinks">Drinks</button>
<button class="desserts">Desserts</button>

<div class="restaurantHomeMenuItems">
<div class="menuItemAppetizers">
<h3>Appetizers</h3>
<% @restaurant.menu_items.each do |menu| %>
  <% menu.items.appetizers.each do |item| %>
    <p><strong><%= item.item %></strong> $<%= item.price %></p>
    <p><%= item.description %></p>
    <p>Price During Discount Time: $<%= item.starting_range %>-<%= item.ending_range %></p>
    <% if current_restaurant %>
    <% if current_restaurant.id == @restaurant.id %>
      <p><%= link_to 'Delete Item', item, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <p><%= link_to 'Edit Item', edit_item_path(item) %></p>
    <% end %>
    <% end %>
  <% end %>
<% end %>
</div>

<div class="menuItemMainDishes">
<h3>Main Dishes</h3>
<% @restaurant.menu_items.each do |menu| %>
  <% menu.items.maindishes.each do |item| %>
    <p><strong><%= item.item %></strong> $<%= item.price %></p>
    <p><%= item.description %></p>
    <p>Price During Discount Time: $<%= item.starting_range %>-<%= item.ending_range %></p>
    <% if current_restaurant %>
    <% if current_restaurant.id == @restaurant.id %>
      <p><%= link_to 'Delete Item', item, method: :delete, data: { confirm: 'Are you sure?' } %><p>
      <p><%= link_to 'Edit Item', edit_item_path(item) %></p>
    <% end %>
    <% end %>
  <% end %>
<% end %>
</div>

<div class="menuItemDesserts">
<h3>Desserts</h3>
<% @restaurant.menu_items.each do |menu| %>
  <% menu.items.desserts.each do |item| %>
    <p><strong><%= item.item %></strong> $<%= item.price %></p>
    <p><%= item.description %></p>
    <p>Price During Discount Time: $<%= item.starting_range %>-<%= item.ending_range %></p>
    <% if current_restaurant %>
    <% if current_restaurant.id == @restaurant.id %>
      <p><%= link_to 'Delete Item', item, method: :delete, data: { confirm: 'Are you sure?' } %><p>
      <p><%= link_to 'Edit Item', edit_item_path(item) %></p>
    <% end %>
    <% end %>
  <% end %>
<% end %>
</div>

<div class="menuItemDrinks">
<h3>Drinks</h3>
<% @restaurant.menu_items.each do |menu| %>
  <% menu.items.drinks.each do |item| %>
    <p><strong><%= item.item %></strong> $<%= item.price %></p>
    <p><%= item.description %></p>
    <p>Price During Discount Time: $<%= item.starting_range %>-<%= item.ending_range %></p>
    <% if current_restaurant %>
    <% if current_restaurant.id == @restaurant.id %>
      <p><%= link_to 'Delete Item', item, method: :delete, data: { confirm: 'Are you sure?' } %><p>
      <p><%= link_to 'Edit Item', edit_item_path(item) %></p>
    <% end %>
    <% end %>
  <% end %>
<% end %>
</div>
</div> <!-- end of restaurantHomeMenuItems -->
</div> <!-- end of restaurantHomeMenu -->

<script>

document.querySelector(".apps").addEventListener("click", function () {
  document.querySelector(".menuItemAppetizers").style.opacity = "1";
  document.querySelector(".menuItemMainDishes").style.opacity = "0";
  document.querySelector(".menuItemDrinks").style.opacity = "0";
  document.querySelector(".menuItemDesserts").style.opacity = "0";
})

document.querySelector(".maindishes").addEventListener("click", function () {
  document.querySelector(".menuItemMainDishes").style.opacity = "1";
  document.querySelector(".menuItemAppetizers").style.opacity = "0";
  document.querySelector(".menuItemDrinks").style.opacity = "0";
  document.querySelector(".menuItemDesserts").style.opacity = "0";
})

document.querySelector(".drinks").addEventListener("click", function () {
  document.querySelector(".menuItemDrinks").style.opacity = "1";
  document.querySelector(".menuItemMainDishes").style.opacity = "0";
  document.querySelector(".menuItemDesserts").style.opacity = "0";
  document.querySelector(".menuItemAppetizers").style.opacity = "0";
})

document.querySelector(".desserts").addEventListener("click", function () {
  document.querySelector(".menuItemDesserts").style.opacity = "1";
  document.querySelector(".menuItemAppetizers").style.opacity = "0";
  document.querySelector(".menuItemMainDishes").style.opacity = "0";
  document.querySelector(".menuItemDrinks").style.opacity = "0";
})

<% if !current_user %>
  $('.fav-btn').css("color", "black");
  $('.favStatus').html("Add to favorites");
<% end %>

<% if current_user %>
<% if FavoriteRestaurant.where(:user_id => current_user.id, :restaurant_id => @restaurant.id).exists? %>
  $('.fav-btn').css("color", "#ffd700");
  $('.favStatus').html("Remove from favorites");
<% end %>
<% end %>

<% if current_user %>
<% if !FavoriteRestaurant.where(:user_id => current_user.id, :restaurant_id => @restaurant.id).exists? %>
  $('.fav-btn').css("color", "black");
  $('.favStatus').html("Add to favorites");
<% end %>
<% end %>


</script>