<p>
  <strong>Company Name:</strong>
  <%= @restaurant.cname %>
</p>

<p>
  <strong>Street Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @restaurant.number %>
</p>

<p><%= image_tag(@restaurant.image) if @restaurant.image? %></p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>