<p id="notice"><%= notice %></p>

<h1>
  <%= @restaurant.cname %>
</h1>

<p>
  <strong>Street Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @restaurant.number %>
</p>

<p>
  <%= link_to like_restaurant_path(@restaurant), class:"fav-btn", method: :put, remote: :true do %>
  <i class='fa fa-star'></i><% end %>
  <em><span class="favStatus"></span></em>
</p>

<p><%= image_tag(@restaurant.image) if @restaurant.image? %></p>

<h2>Menu</h2>
<% @restaurant.menu_items.each do |menu| %>
	<% menu.items.each do |item| %>
		<p><strong><%= item.item %></strong></p>
		<p>$<%= item.price %></p>
		<p>Price During Discount Time: $<%= item.starting_range %>-<%= item.ending_range %></p>
		<p><%= item.description %></p>
	<% end %>
<% end %>


<script>

<% if !current_user %>
  $('.fav-btn').css("color", "black");
  $('.favStatus').html("Add to favorites");
<% end %>

<% if current_user %>
<% if FavoriteRestaurant.where(:user_id => current_user.id, :restaurant_id => @restaurant.id).exists? %>
  $('.fav-btn').css("color", "#ffd700");
  $('.favStatus').html("Remove from favorites");
<% end %>
<% end %>

<% if current_user %>
<% if !FavoriteRestaurant.where(:user_id => current_user.id, :restaurant_id => @restaurant.id).exists? %>
  $('.fav-btn').css("color", "black");
  $('.favStatus').html("Add to favorites");
<% end %>
<% end %>


</script>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>