<%= form_with(model: favorite_restaurant, local: true) do |form| %>
  <% if favorite_restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(favorite_restaurant.errors.count, "error") %> prohibited this favorite_restaurant from being saved:</h2>

      <ul>
      <% favorite_restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :favorite_restaurant_user_id %>
  </div>

  <div class="field">
    <%= form.label :restaurant_id %>
    <%= form.text_field :restaurant_id, id: :favorite_restaurant_restaurant_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
