
  <%= form_with model: discount, local: true do |form| %>
    <% if discount.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(discount.errors.count, "error") %> prohibited this discount from being saved:</h2>

        <ul>
        <% discount.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
    <%= form.hidden_field :current_restaurant_id %>
      <%= form.label :time_frame %>
      <%= form.select( :time_frame, options_for_select([["30 minutes",30],["45 minutes",45],["60 minutes",60]]), {prompt: 'Select a Time Frame'}, id: 'discount_time_frame') %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_field :description, id: :discount_description %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
