<p id="notice"><%= notice %></p>

<p>
  <strong>Time frame:</strong>
  <%= @discount.time_frame %>
</p>

<p>
  <strong>Description:</strong>
  <%= @discount.description %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @discount.restaurant %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
