<!DOCTYPE html>
<html>
  <head>

    <title>Ageny Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
    @import url('https://fonts.googleapis.com/css?family=Sarala');
    </style>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto|Sarala');
    </style>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
    </style>
  </head>

  <body class="<%= @class %>">
  	<p class="notice"><%= notice %></p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzDUyA7JETU9aaofrnQdoTqXCLEBrSywA&libraries=places" type="text/javascript">
    </script>

    <% if restaurant_signed_in? %>
      <%= render partial: 'nav_bars/restaurantNav' %>
    <% elsif user_signed_in? && current_user.administrator? %>
      <%= render partial: 'nav_bars/adminNav' %>
    <% elsif user_signed_in? %>
      <%= render partial: 'nav_bars/usersNav' %>
    <% end %>
  

    <%= yield %>

  </body>
</html>